.carousel {
    height: 30px;
}


.slider {
    max-width: 75rem;
    height: 38rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}




.slider__btn {

    width: 5rem;
    height: 5rem;
    bottom: 0;

    border: none;
    background-color: #8a87872d;

    position: absolute;
    z-index: 100;
    background-color: var(--color-secondary);

    top: 60%;
    border-radius: 50%;
}

.slider__btn--left {

    left: 4rem;
}

.slider__btn--right {
    right: 4rem;
}


.slider__btn:hover {
    background-color: var(--color-secondary--dark);
}

.slider__dots {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.slider__dots__dot {
    border: none;
    background-color: var(--color-secondary);
    height: 1rem;
    width: 3rem;
    margin: 0 3px;
}

@media (max-width: 1090px) {
    .slider__btn {
        bottom: 120px;
    }
}

@media (max-width: 718px) {
    .slider__btn--left {
        left: 24rem;
    }

    .slider__btn--right {
        right: 24rem;
    }

    .slider__dots {
        bottom: 120px;
    }
}

@media (max-width: 650px) {
    .slider__btn--left {
        left: 14rem;
    }

    .slider__btn--right {
        right: 14rem;
    }

}


@media (max-width: 460px) {
    .slider__btn--left {
        left: 5rem;
    }

    .slider__btn--right {
        right: 5rem;
    }
}