.slide {
    position: absolute;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 1s;
}


@media (max-width: 780px) {
    .slide {
        height: auto;
    }
}