.header__background {
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(to right bottom, var(--color-secondary), var(--color-secondary--dark)), url('../../../../public/imgs/back.png'); */
    background-image: linear-gradient(to right bottom, rgba(255, 51, 102,0.8), rgba(186, 38, 93,0.8)),url('../../../../public/imgs/profile.jpg');
    background-size: cover;
    background-position: center -192px;

    height: 23rem;
    width: 100%;

    color: var(--color-primary);
}

.header__content {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    flex: 1 1 100%;
}


.header__content__resume {
    display: flex;
    position: relative;
    flex: 0 0 30rem;
}

@media (max-width: 780px) {

    .header__background {
        height: auto;
    }

    .header__content__resume {
        flex-direction: column;

    }

    .header__content {
        flex-direction: column;
        align-items: center;
    }
}